<li>
	{{burger_name}}

	<button class="change-eat btn btn-primary btn-hover" data-id="{{id}}" data-newburger="{{isEaten}}">
		{{#if isEaten}}DEVOUR!{{else}}THROW UP!{{/if}}
	</button>
	<button class="delete-burger btn btn-danger btn-hover" data-id="{{id}}" >
		Delete Burger
	</button>
</li>
