<li>
	{{burger_name}}

	<button class="change-eat" data-id="{{id}}" data-newBurger="{{isEaten}}">
		{{#if isEaten}}DEVOUR!{{else}}THROW UP!{{/if}}
	</button>
	<button class="delete-burger" data-id="{{id}}" >
		Delete Burger
	</button>
</li>
